/* This is a custom CSS */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700|Arimo|Lobster|Quicksand:700,400);


body {

	border-radius: 0;
	font-family: "Raleway", san-serif;
	font-weight: 400;
	font-size: 2em;
	position: relative;

}

h1, h2, h3, h4, h5, h6 {

	font-family:"Quicksand"
	font-weight: 700;
	
}

img {

	max-width: 200px;
}

#aboutme .col-sm-2 img {

	padding-right: 10px;

}

#subjectrow .col-sm-6 img {

	padding-right:10px;
}


/** Header Navigation **/

header .navbar {

	padding: 30px 0;
}

header .navbar-default {

	background-color: transparent;
	border:none;
}

header .navbar-default .navbar-nav a {

	color: white;
	padding: 5px 8px;
}

header .navbar-default .navbar-nav a:hover {

	color: #F79F24;
}


header .navbar-default .navbar-nav .active a {

	font-weight: 700;
	color:#F79F24;
	background: transparent;
	border-bottom: 4px solid #F79F24; 
	text-shadow: none;

}

header .navbar-default .navbar-nav .active a:hover {

	font-weight: 500;
	color: #E20049;
	background: transparent;
	text-shadow: none;
}

header .navbar-default .navbar-nav a:hover {

	font-weight: 500;
	color: #E20049;
	background: transparent;
	text-shadow: none;
}

/** Navbar Brand **/

header .navbar-brand {
  color: white;
  margin: 0;
  font-size: 1.8em;
  font-weight: 400;
  padding-left: 105px;
}

header .navbar-brand h1 {
	color:white;
	font-family: "Lobster";
}


.page {

	padding: 50px 0;
}

/** Navbar Toggle **/

header .navbar-toggle {

	background-color: #62013C;

}

header .navbar-default .navbar-toggle .icon-bar {

	background-color: white;
}

@media only screen 

and (max-width: 768px) {
	header .navbar-collapse.in {
		background-color: rgba(0,0,0,0.5);
	}
}

/** Footer Navigation **/

 footer .navbar-default {

 	background-color: transparent;
 	border:0;
 }



